@import "tailwindcss";

@font-face {
    font-family: UnicreditRegular;
    src: url('src/assets/fonts/unicredit-regular.otf');
}

@font-face {
    font-family: UnicreditBold;
    src: url('src/assets/fonts/unicredit-bold.otf');
}

@theme {
    --font-family-unicredit-regular: UnicreditRegular;
    --font-family-unicredit-bold: UnicreditBold;

    --default-font-family: UnicreditRegular;
    --font-weight-bold: UnicreditBold;
}
